body{
    background-color: rgb(235, 74, 11);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: aqua;
    height: 100px;
    line-height: 100px;
    border-radius: 8px; 
}
.content{
    display: flex;
    height: 500px;
}    
aside{
    flex: 2;
    order: 1;
    background-color: rgb(76, 9, 163);
    box-sizing: border-box;
    border-radius: 8px;line-height: 500px;

}
article{
    flex: 2;
    order: 2;
    background-color: bisque;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;          
    flex-direction: column; 
    justify-content: center;
    align-items: center;    
    line-height: normal;
    gap: 20px;
}        
footer{
    height: 150px;
    line-height: 150px;
    background-color: blue;
}
img{
    width: 100px;
    box-sizing: border-box;
    border-radius: 8px;
    line-height: normal;
    margin-top: 50%;
   
}